<html>
<head>
	<title>Zoom to Google Drive</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="/static/css/ob.css" />
	<link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" media="all" />
	<link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600,700" media="all" />

<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>

</head>

<body>

<header>
<span id="top-links">
<a href="http://berkeley.edu">UC Berkeley</a> | <a href="https://statistics.berkeley.edu">Statistics</a>
</span>
</header>

<div id="content">

<h1>Zoom to Google Drive</h1>

<pre>{{ msg }}</pre>

</div><!-- content -->

</body>
</html>
